# Django
DEBUG=False
SECRET_KEY=change-me
ALLOWED_HOSTS=.onrender.com
CSRF_TRUSTED_ORIGINS=https://your-service.onrender.com

# Render database (auto-provided if you add PostgreSQL)
DATABASE_URL=postgresql://user:password@host:5432/dbname

# Optional superuser creation on deploy
CREATE_SUPERUSER=False
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=change-me
